@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');


:root{
    --primary-color: red;
    --secondary-color: blue;
}

body{
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(7, 7, 7, 0.342);
}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 3rem;
    font-size: larger;
    transition: 1s;
}

.navigation a.link:hover{
    padding: 0.5rem 1rem;
    color: aliceblue;
    text-decoration: underline;
    transition: 1s;
    /* color: black; */
    width: auto;
    height: 60px;
    margin: 15px;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.list-non-bullet{
    list-style: none;
    padding-inline-start: 0px;
}

.navigation{

    
    
    background-color: black;
    color: white;
    padding: 1rem;
    margin: auto;

}

.nav-brand{
    margin: auto;
}

.navigation .nav-pills{
    padding: 1rem 5rem;
    text-align: center;
    padding-bottom: 2px;
    padding-right: 0.5px;
}

.navigation .link{
    color:white;
}

.navigation .link-active{
    font-weight: bolder;
    text-decoration-line: underline;
    
}

h1{
    padding: 2rem;
    font-size: xx-large;
    letter-spacing: 0.5rem;
    text-align: center;
}

h2{
    margin-left: 2rem;
}

.para{
   margin: 2rem; 
   max-width: 60%;
   background-color: rgba(255, 255, 255, 0.158);
   padding: 1rem;
}
.quiz-form{
    margin: 1rem 2rem;
    background-color: rgba(32, 32, 32, 0.226);
    padding: 0rem 1rem;
    border-radius: 1rem;
    height: 80%;
   
}

.question-container{
    padding: 1rem 0.5rem;
    
}

p{
    font-weight: 600;
    background-color: rgba(7, 7, 7, 0.342);
    padding: 1rem 1rem;
    border-radius: 1rem;
}

label{
    padding: 3rem;
    margin: 0rem 0rem;
}
#submit-btn:hover{
    margin-left: 3rem ;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.616);
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-weight: bold;
    transition: 1s;

}

#submit-btn{
    margin:1rem 2rem ;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: black;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;

}

#output{
    margin: 1rem 2rem;
    padding: 1rem;
    font-weight: bolder;
    font-size: large;
    color: black;
}

footer{
    background-color: black;
    margin: auto;
    
}
.fa {
    padding: 10px;
    font-size: larger;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    color: white;
    transition: 1s;
  }

  .fa-github:hover{
      color: #624a85;
     margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
}

  .fa-linkedin:hover{
      color: #0e76a8 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-twitter:hover{
      color:#1DA1F2;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-instagram:hover{
      color:#fb3958 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }
  
  footer h3{
      
      padding: 3rem;
      margin: auto;
      text-align: center;
      color: gray;
  }

  .icon{
      margin-left: 2rem;
      padding: auto;
      text-align: center;
      font-size: x-large;
  }

  .angle-input,.angle-input1,.angle-input2,.angle-input3,.angle-input4{
    margin: 2rem;
      padding: 1rem;
      border-radius: 0.5rem;
      border-color: black;
      max-width: 50%;
  }

  /* label{
      display: grid;
      grid-row: initials;
      font-weight: 800;
  } */

